extends layout

block layout-content
    div.View.WelcomeView
        h1.Banner Passport Auth Home
        div.Message
            div.Title
                h3 Andy Marmolejos
                h1 IS 219
            span.Details Access the WHATABYTE Team Portal
        div.NavButtons
            if isAuthenticated
                a(href="/user")
                    div.NavButton Just dive in!
            else
                a(href="/login")
                    div.NavButton Log in